* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

:root {
  --background-color: #F7F7F7;
  --color-for-card: white;
  --for-text: #181818;
  --for-header-hover: #181818;
  --for-text-hover: #F7F7F7;
  --for-text-navbar: #F7F7F7;
  --purple-color: #673AB7;
  --black-color-for-menu: #181818;
  --yellow-color: #FFF5A0;
  --red-color: #FFAF95;
  --grey-color: #858585;
  --box-shadow-for-card: 0px 0px 6px rgba(103, 58, 183, 100);
  --for-input: #B39CD0;
  --box-shadow-for-input: 0px 0px 4px var(--for-input);
  --color-for-button: #F7F7F7;

  --filter-for-support-icon: brightness(0) saturate(100%) invert(10%) sepia(0%) saturate(199%) hue-rotate(149deg) brightness(94%) contrast(99%);
  --filter-for-support-icon-hover: invert(100%) sepia(55%) saturate(34%) hue-rotate(327deg) brightness(114%) contrast(94%);
}

.dark-theme {
  --background-color: #181818;
  --color-for-card: black;
  --for-text: #F7F7F7;
  --for-header-hover: #F7F7F7;
  --for-text-hover: #181818;
  --for-text-navbar: #F7F7F7;
  --purple-color: #673AB7;
  --black-color-for-menu: #181818;
  --yellow-color: #FFF5A0;
  --red-color: #FFAF95;
  --grey-color: #858585;
  --box-shadow-for-card: 0px 0px 6px rgba(103, 58, 183, 100);
  --for-input: #B39CD0;
  --box-shadow-for-input: 0px 0px 4px var(--for-input);
  --color-for-button: #F7F7F7;

  --filter-for-support-icon: invert(100%) sepia(55%) saturate(34%) hue-rotate(327deg) brightness(114%) contrast(94%);
  --filter-for-support-icon-hover: brightness(0) saturate(100%) invert(10%) sepia(0%) saturate(199%) hue-rotate(149deg) brightness(94%) contrast(99%);
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

.container {
  max-width: 1040px;
  margin: 0px auto;
}

@media (max-width: 1270px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px
  }

}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.container-for-card {
  padding: 32px;
  margin: 12px;
  border-radius: 16px;
  box-shadow: var(--box-shadow-for-card);
  background-color: var(--color-for-card);
}

.text {
  font-weight: 600;
  font-size: 16px;
  color: var(--black-color-for-menu);
}

.input {
  box-shadow: var(--box-shadow-for-input);
  border-radius: 16px;
  border: 1px solid var(--purple-color);
  padding: 8px 14px;
  color: var(--for-text);
  font-size: 16px;
  font-weight: 400;
  background-color: var(--color-for-card);
}

.row-in-card p.tac {
  text-align: center;
  width: 100%;
}