.dashboard {
    display: flex;
    min-height: 100vh;
}

.main-section {
    width: 100%;
    position: relative;
}

.row-in-card {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.row-in-card label,
.row-in-card p {
    color: var(--for-text);
    font-weight: 500;
    font-size: 16px;
    width: max-content;
}

.row-in-card label.explanetion {
    width: 100%;
}

.row-in-card input {
    width: 100%;
}

.add-book,
.search-book,
.create-document,
.settings,
.profile,
.send-message,
.setting-admin {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.add-book button,
.search-book button,
.create-document button,
.settings button,
.profile button,
.send-message button,
.setting-admin button {
    align-self: center;
}

.tools-for-book .row-in-card {
    justify-content: space-between;
    margin-bottom: 18px;
}

.tools-for-book .row-in-card p {
    font-size: 18px;
    color: var(--for-text);

}

.send-message {
    position: relative;
    width: -webkit-fill-available;
}

.all-message {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 400px;
}

.form-group-with-three-card-element.disabled {
    background-color: #eee;
    color: #999;
    border: 1px solid #ccc;
}

.profile .form-group-with-three-card-element {
    min-width: 160px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.spinner::after {
    content: "";
    width: 40px;
    height: 40px;
    border: 6px solid #ccc;
    border-top-color: #6a1b9a;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.documentation-page p,
.documentation-page li,
.documentation-page li a {
    font-size: 18px;
    color: var(--for-text);
    margin-bottom: 4px;
}

.documentation-page li a {
    color: var(--purple-color);
}

.documentation-page p {
    text-indent: 40px;
}

.documentation-page li a:hover {
    font-weight: 700;
}

.documentation-page h2,
.documentation-page h3,
.documentation-page h4 {
    font-size: 24px;
    color: var(--for-text);
    font-weight: 700;
    text-align: center;
    margin: 8px auto 8px auto;
}


.documentation-page ul {
    margin-left: 20px;
    list-style-type: none;
}

.documentation-page .ul {
    margin-left: 80px;
    list-style-type: circle;
}

@media (max-width: 1270px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {

    .search-book .row-in-card {
        flex-direction: column;
    }

    .container-for-card.document {
        flex-direction: column;
    }
}

@media(max-width: 576px) {

    .add-book .row-in-card,
    .profile .row-in-card {
        flex-direction: column;
    }

    .create-document .row-in-card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .create-document {
        justify-content: center;
        align-items: center;
    }

    .profile .form-group-with-three-card-elements {
        flex-wrap: wrap;
    }
}