.container-for-card.document {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 28px;
}

.document-title {
    color: var(--for-text);
    font-size: 18px;
    font-weight: 500;
}